html {
    scroll-behavior: smooth;
}

* {
    font-family: 'DM Serif Display', serif;
}


/* ------------------------------------------ Below: Section for Navbar -------------------------------------------------------- */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 5px;

    min-height: 100vh;
    background-size: cover;
    background-position: center;

    min-height: 100vh;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.2rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 4.5rem;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.708);
    backdrop-filter: blur(5px);
    z-index: -1;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .5), transparent);
    transition: .5s;
}

.header:hover::after {
    left: 100%;
}

.logo {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.form__navbar a {
    margin: 0;
    padding-block: 1rem;
    padding-inline: 1rem;
    box-sizing: border-box;
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;

    /* border: 2px solid red; */
}

.form__navbar a:hover {
    color: black;
    background: white;
    border-radius: 5px;
}

#check {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: none;
}

.icons {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

/* BREAKPOINTS */
@media (max-width: 992px) {
    .header {
        padding: 1.2rem 5%;
    }
}

@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .form__navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, 0.468);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.66);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.form__navbar {
        height: 22rem;
    }

    .form__navbar a {
        display: block;
        font-size: 1.2rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.form__navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }

}
/* ------------------------------------------ Above: Section for Navbar -------------------------------------------------------- */


/* ----------------------------------------- Below: Section for Home Page ------------------------------------------------------ */
.home__page {
    display: flex;

    /* The image used */
    background: url(../images/background4.jpg);
    /* background: rgb(43, 177, 86); */

    /* Set a specific height */
    min-height: 110vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    align-items: center;
    text-align: center;
    justify-content: center;
}
/* ----------------------------------------- Above: section for Home Page ------------------------------------------------------ */


/* ---------------------------------------- Below: Section for About Page ------------------------------------------------------ */
.about__page {
    display: flex;

    /* The image used */
    background: url(../images/largebackground.jpg);
    /* background: rgb(43, 177, 86); */

    /* Set a specific height */
    min-height: 110vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    align-items: center;
    text-align: center;
    justify-content: center;
}
/* ---------------------------------------- Above: Section for About Page ------------------------------------------------------ */


/* ---------------------------------------- Below: section for Data Table ------------------------------------------------------ */
.form__data__table {
    min-width: 25rem;
    max-width: 100rem;

    width: 75rem;
    border-radius: var(--border-radius);
    border: 3px solid rgba(105, 104, 104, 0.212);

    max-height: 40rem;
    height: 40rem;
    background: rgba(0, 0, 0, 0.508);
    backdrop-filter: blur(100px);
}

.form__table__title {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;

    align-items: center;
    justify-content: center;
}

.form__search__bar {
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form__search__bar {
    position: relative;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 60px;
    transition: 0.5s;
    overflow: hidden;
}

.form__search__bar:hover {
    width: 360px;
    box-shadow: 1px 1px 20px white;
    border: 1px solid black;
}

.form__search__bar .search__input {
    position: relative;
    width: 100%;
    height: 60px;
    /* left: -5px; */
    display: flex;
    justify-content: left;
    align-items: center;
    visibility: hidden;

    padding-left: calc(7%);
}

.form__search__bar:hover .search__input {
    visibility: visible;
    width: 100%;
}

.active__input {
    visibility: visible;
    width: 100%;
}

.form__search__bar .search__input input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
}

.form__search__bar .search__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.form__search__bar .search__icon::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid #000000;
    border-radius: 50%;
    transform: translate(3px, 3px);
}

.form__search__bar .search__icon::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 8px;
    background: #000000;
    border-radius: 100%;
    transform: translate(10px, 10px) rotate(315deg);
}

.form__user {
    margin-right: auto;
    color: white;
}

.form__table__container {
    display: flex;

    align-items: center;
    justify-content: center;
}

.table-responsive {
    text-align: left;
    max-height: 31rem;
    scrollbar-width: thin;
    width: 90%;

    border-radius: var(--border-radius);
    background-color: white;
}

thead#form__table__header th {
    background-color: rgb(135, 144, 149);
}

.table th {
    width: auto;
}

button#add__button,
button#edit__button,
button#delete__button {
    font-size: 20px;
    border-radius: 50%;
    border: none;
    background-color: whitesmoke;
}

button#add__button:hover {
    background-color: rgb(6, 135, 6);
    box-shadow: 2px 2px 30px rgb(255, 255, 254);
    color: white;
}

button#edit__button:hover {
    background-color: rgba(0, 111, 208, 0.842);
    box-shadow: 2px 2px 20px rgb(0, 0, 0);
    color: white;
}

button#delete__button:hover {
    background-color: rgb(189, 0, 0);
    box-shadow: 2px 2px 20px rgb(0, 0, 0);
    color: white;
}
/* ---------------------------------------- Above: Section for Data Table ------------------------------------------------------ */


/* ----------------------------------------- Below: Section for Carousel ------------------------------------------------------- */
.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    z-index: 1;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
    left: -4rem;
}

.wrapper i:last-child {
    right: 0.5rem;
}

.wrapper .carousel {
    display: grid;
    width: calc(100% - 4.5rem);
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3));
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 2.9rem;
    border-radius: var(--border-radius);
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel .dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel .dragging .card {
    cursor: pointer;
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    height: 400px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: var(--border-radius);
    width: 80%;
}

.carousel .card .img {
    background: #8B53FF;
    height: 148px;
    width: 148px;
    border-radius: 50%;
}

.card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
}

.carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) + 1rem);
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: calc(100% + 2rem);
    }

    .wrapper i:first-child {
        left: -4rem;
    }

    .wrapper i:last-child {
        right: 1.5rem;
    }
}
/* ----------------------------------------- Above: Section for Carousel ------------------------------------------------------- */


/* --------------------------------------- Below: Section for Contact Page ----------------------------------------------------- */
.contact__page {
    display: flex;

    /* The image used */
    background: url(../images/background6.jpg);
    /* background: rgb(43, 177, 86); */

    /* Set a specific height */
    min-height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    align-items: center;
    text-align: center;
    justify-content: center;
}

.card-group {
    justify-content: center;
    width: 90%;
}

div#contact__card {
    min-width: 15rem;
    max-width: 20rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: var(--border-radius);
    background: rgba(0, 0, 0, 0.386);
    backdrop-filter: blur(50px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.635);
}
/* --------------------------------------- Above: Section for Contact Page ----------------------------------------------------- */


/* ----------------------------------------- Below: Section for Pop Ups -------------------------------------------------------- */
.pop_container p {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: rgb(0, 0, 0);
}


.pop_container input {
    display: flex;
    padding-left: 5px;
    border-radius: var(--border-radius);
    border: 1px solid black;
}

.pop_container button {
    width: 30%;
    padding: 10px;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: var(--border-radius);
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.797);
}

.delete__popup,
.add__popup,
.edit__popup {
    width: 50%;
    color: #333;
    background: #fff;
    padding: 0 30px 30px;

    border-radius: var(--border-radius);
    border: 2px solid black;
    position: fixed;
    text-align: center;

    top: 0;
    left: 50%;

    visibility: hidden;
    transform: translate(-50%, -50%) scale(0.1);
    transition: transform 0.4s, top 0.4s;
}

.add__popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    background: #6fd649;
    border: 10px solid #6fd649;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.797);
}

.edit__popup img {
    width: 100px;
    padding: 20px;
    margin-top: -50px;
    border-radius: 50%;
    background: #6fd649;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.797);
}

.delete__popup img {
    width: 100px;
    padding: 20px;
    margin-top: -50px;
    border-radius: 50%;
    background: #ff0000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.797);
}

.add__popup h2,
.edit__popup h2,
.delete__popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.delete__popup p {
    font-size: 20px;
    margin-bottom: 15px;
}

.add__popup button,
.edit__popup button {
    background: #6fd649;
}

.delete__popup button {
    background: #e70000;
}

.add__popup .cancel__button,
.edit__popup .cancel__button,
.delete__popup .cancel__button {
    background: #f8f4fc;
    color: #000000;
}

.add__contact__buttons,
.edit__contact__buttons,
.delete__contact__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 2rem;
}

.add__first__name,
.add__last__name,
.add__email,
.add__phone__number,
.edit__first__name,
.edit__last__name,
.edit__email,
.edit__phone__number {
    padding-inline: 10%;
    margin-block: 5%;
    
    display: flex;
    justify-content: space-between;
}

.open-popup {
    top: 50%;
    max-width: 35rem;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}